@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.bodyWrapper {
  padding: 120px;
}
.activeNav {
  background-color: #6b51df !important;

  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
}
.activeNav h1 {
  color: #ffffff !important;
}

/* purchase user css start  */
.breadcumNav {
  width: 100%;
  height: 60px;
  background: rgba(210, 202, 248, 0.5);
  border-radius: 5px;
  overflow: hidden;
}
.breadcomTitleWrap {
  width: 347px;
  height: 60px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
.new {
  left: -18px;
  position: absolute;
  width: 182px;
  height: 60px;
  background-color: #d2caf8;
  border-radius: 5px;
  transform: skewX(-30deg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.forward {
  right: -18px;
  position: absolute;
  width: 190px;
  height: 60px;
  background-color: #d2caf8;
  border-radius: 5px;
  transform: skewX(-30deg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.new h1,
.forward h1 {
  transform: skewX(30deg);
  font-weight: 500;
  font-size: 24px;
  font-style: normal;
}
.new h1 {
  color: #6b51df;
}
.forward h1 {
  color: #6b51df;
}
.newEntrySection {
  position: relative;
  width: 100%;
  height: 60px;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 48px;
  margin-bottom: 30px;
}
.newEntryBtn {
  right: -18px;
  position: absolute;
  width: 190px;
  height: 60px;
  background-color: #6b51df;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  transform: skewX(-30deg);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.newEntryBtn h1 {
  transform: skewX(30deg);
  font-weight: 500;
  font-size: 24px;
  font-style: normal;
  color: #ffffff;
  line-height: 28px;
}
th {
  background-color: #d2caf8;
  font-weight: bold;
  font-size: 24px;
  color: #2d2b2b;
}
td {
  text-align: center;
  font-weight: normal;
  font-size: 18px;
}
tr {
  height: 72px;
}
tr:nth-child(odd) {
  background: rgba(210, 202, 248, 0.5);
}
table {
  border-spacing: 0px;
}
td:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  height: 72px;
}
.fa-eye,
.fa-tools {
  color: #85d369;
  font-size: 24px !important;
  cursor: pointer;
}
.fa-edit {
  color: #6b51df;
  font-size: 24px !important;
  cursor: pointer;
}
.fa-trash-alt {
  color: #eb1616;
  font-size: 24px !important;
  cursor: pointer;
}
/* purchase user css end  */

/* --------------------------------------------------------------------- */

/* vehicle detail css start  */
.breadcumNav1 {
  width: 100%;
  height: 60px;
  background: rgba(210, 202, 248, 0.5);
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 80px;
}
.vehicleDetails {
  left: -18px;
  position: absolute;
  width: 295px;
  height: 60px;
  background-color: #6b51df;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  transform: skewX(-30deg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.vehicleDetails h1 {
  transform: skewX(30deg);
  font-weight: 500;
  font-size: 24px;
  font-style: normal;
  color: #ffffff;
}
.vehicleDetailDisplay {
  /* width: 100%; */
  padding: 80px;
  background: #fff6f8;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 120px;
}
.vehicleBrand {
  padding: 8px 16px;
  background: #d2caf8;
  border-radius: 5px;
  width: fit-content;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.02em;
  min-width: 160px;
  height: 40px;
  margin-top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
label {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
}
.submitBtnFooter {
  margin-top: 50px;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: end;
}
.submitBtnWrap {
  width: 354px;
  height: 60px;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
}
.detailCancleBtn,
.detailForwardBtn {
  position: absolute;
  width: 190px;
  height: 60px;
  border-radius: 5px;
  transform: skewX(-30deg);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.detailCancleBtn {
  left: -18px;
  background-color: #d2caf8;
  color: #6b51df;
}
.detailForwardBtn {
  right: -18px;
  background-color: #6b51df;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
  color: #ffffff;
}
.detailCancleBtn h1,
.detailForwardBtn h1 {
  transform: skewX(30deg);
  font-weight: 500;
  font-size: 24px;
  font-style: normal;
}
/* vehicle detail css end  */

/* -------------------------------------------------------------- */

/* vehicle detail modal start  */
.vehicleDetailModal {
  width: 100%;
  height: 100vh;
  background: rgba(52, 57, 87, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.vehicleDetailModalMain {
  padding: 78px 162px;
  background: #fff6f8;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.vehicleDetailModalIcon .fa-check-circle {
  font-size: 80px;
  color: #6b51df;
}
.vehicleDetailModalConfirmTitle {
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
  letter-spacing: 0.02em;
  font-style: normal;
  color: #2d2b2b;
  margin-top: 18px;
}
.vehicleDetailModalBtns {
  width: 354px;
  height: 60px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  margin-top: 48px;
}
.vehicleDetailModalConfirm,
.vehicleDetailModalCancle {
  position: absolute;
  width: 190px;
  height: 60px;
  border-radius: 5px;
  transform: skewX(-30deg);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.vehicleDetailModalConfirm {
  left: -18px;
  background: #6b51df;
  color: #ffffff;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
}
.vehicleDetailModalCancle {
  right: -18px;
  background: #d2caf8;
  color: #6b51df !important;
}
.vehicleDetailModalConfirm h1,
.vehicleDetailModalCancle h1 {
  transform: skewX(30deg);
  font-weight: 500;
  font-size: 24px;
  font-style: normal;
}
/* vehicle detail modal end  */

/* --------------------------------------------------------------------- */

/* view vehicle listing start  */
.breadcomTitleWrapView {
  width: 572px;
  height: 60px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
.maintainance {
  width: 205px;
  height: 60px;
  transform: skewX(-30deg);
  border-radius: 5px;
  background: #d2caf8;
  color: #6b51df;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 24px;
  font-style: normal;
  position: absolute;
  left: 172px;
}
.salesFloor {
  width: 205px;
  height: 60px;
  transform: skewX(-30deg);
  border-radius: 5px;
  background: #d2caf8;
  color: #6b51df;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 24px;
  font-style: normal;
  position: absolute;
  right: -18px;
}
.salesFloor h1,
.maintainance h1 {
  transform: skewX(30deg);
  font-weight: 500;
  font-size: 24px;
  font-style: normal;
}
.newEntrySectionSearch {
  position: relative;
  width: 100%;
  height: 60px;
  border-radius: 5px;
  /* overflow: hidden; */
  margin-top: 48px;
  margin-bottom: 30px;
}
.newEntrySearch {
  position: absolute;
  right: 0;
  width: 152px;
  height: 42px;
  background: #fff6f8;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
#newEntrySearch {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  background: transparent;
  padding-left: 48px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: rgba(45, 43, 43, 0.5);
}
.fa-search {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: rgba(45, 43, 43, 0.5);
}
/* view vehicle listing end  */

/* ---------------------------------------------------- */

/* view vehicle detail start  */
.submitBtnWrapView {
  width: 570px;
  height: 60px;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
}
.detailSendToSalesFloorBtn,
.detailSendToMaintainanceBtn {
  position: absolute;
  width: 297px;
  height: 60px;
  border-radius: 5px;
  transform: skewX(-30deg);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.detailSendToSalesFloorBtn {
  left: -18px;
  background-color: #d2caf8;
  color: #6b51df;
}
.detailSendToMaintainanceBtn {
  right: -18px;
  background-color: #6b51df;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
  color: #ffffff;
}
.detailSendToSalesFloorBtn h1,
.detailSendToMaintainanceBtn h1 {
  transform: skewX(30deg);
  font-weight: 500;
  font-size: 24px;
  font-style: normal;
}
.sendVehicleForMaintainanceModal {
  width: 100%;
  height: 100vh;
  background: rgba(52, 57, 87, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.sendVehicleForMaintainanceModalMain {
  padding: 40px 64px;
  background: #fff6f8;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: cente;
}
.sendVehicleForMaintainanceModalNav {
  width: 552px;
  height: 45px;
  background: #e8e4fa;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
.sendVehicleForMaintainanceNavTitle {
  width: 374px;
  height: 45px;
  background: #6b51df;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  transform: skewX(-30deg);
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  left: -18px;
}
.sendVehicleForMaintainanceNavTitle h1 {
  transform: skewX(30deg);
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;

  color: #ffffff;
}
.sendVehicleForMaintainanceModalFields {
  width: 394px;
  /* height: 100px; */
  margin-top: 32px;
}
.sendVehicleForMaintainanceModalBrand span,
.sendVehicleForMaintainanceModalReason span {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}
.sendVehicleForMaintainanceModalBrand {
  width: 394px;
  display: flex;
  justify-content: space-between;
}
.sendVehicleForMaintainanceModalBrandName {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 43px;
  background: rgba(210, 202, 248, 0.5);
  box-shadow: 2px 2px 12px -5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.sendVehicleForMaintainanceModalReason {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}
#sendVehicleForMaintainanceModalReasonField {
  background: #ffffff;
  box-shadow: 2px 2px 8px -5px rgba(0, 0, 0, 0.25);
  min-width: 270px;
  max-width: 270px;
  max-height: 102px;
  min-height: 102px;
  border-radius: 5px;
  outline: none;
  border: none;
  padding: 6px 10px;
}
.sendVehicleForMaintainanceModalBtn {
  width: 100%;
  height: 60px;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  margin-top: 32px;
}
.sendVehicleForMaintainanceModalBtnSend {
  width: 190px;
  height: 60px;
  transform: skewX(-30deg);
  background: #6b51df;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  position: absolute;
  right: -18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sendVehicleForMaintainanceModalBtnSend h1 {
  transform: skewX(30deg);
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}
/* view vehicle detail end  */

/* --------------------------------------------------- */

/* remaintainance start  */
.vehicleDisplay-maintainanceHistry-Wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 32px;
}
.vehicleDetailDisplayMaintainance {
  padding: 40px;
  background: #fff6f8;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}
.vehicleMaintainanceHistry {
  width: 404px;
  height: 400px;
  background: #fff6f8;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  flex-shrink: 0;
}
.vehicleMaintainanceHistry {
  padding: 32px 8px;
}

.maintainanceHistrySubNav {
  width: 100%;
  height: 45px;
  background: #e8e4fa;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
.maintainanceHistrySubNavTitle {
  width: 295px;
  height: 45px;
  background: #6b51df;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  transform: skewX(-30deg);
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  left: -18px;
}
.maintainanceHistrySubNavTitle h1 {
  transform: skewX(30deg);
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;

  color: #ffffff;
}
.maintainanceHistoryTable {
  margin-top: 20px;
  width: 100%;
  /* height: 100px;
  background-color: #6b51df; */
}
.maintainanceHistoryTable table {
  width: 100%;
}
.maintainanceHistoryTable tr {
  height: 40px !important;
}
.maintainanceHistoryTable th {
  font-size: 14px;
  font-weight: 700;
  background-color: #d2caf8;
}
.maintainanceHistoryTable td {
  font-size: 14px;
  height: 40px !important;
}
.maintainanceHistoryTable i {
  font-size: 14px !important;
}
.maintainanceHistoryTable td:last-child {
  gap: 8px;
}
.updateSalesUserFormWrap {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  background: rgba(52, 57, 87, 0.5);
  /* display: flex; */
  justify-content: center;
  align-items: center;
  display: none;
}
.updateSalesUserFormMain {
  padding: 40px;
  width: 896px;
  background: #fff6f8;
  border-radius: 5px;
}
.vehicleDetailDisplayWrapUpdate {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}
.salesInformationModalnav {
  margin-top: 32px;
}
.salesInformationInputFieldUpdate {
  margin-top: 24px;
  width: 100%;
  display: flex;
  column-gap: 80px;
  row-gap: 20px;
  flex-wrap: wrap;
}
.salesInformationInputFieldUpdate input {
  width: 280px;
  height: 40px;
  border-radius: 5px;
  background-color: #d2caf8;
  padding-left: 16px;
  outline: none;
  border: none;
  margin-top: 8px;
}
.salesInformationInputFieldUpdatedata {
  display: flex;
  flex-direction: column;
}
/* remaintainance end  */
