@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.bodyWrapper {
  padding: 120px;
}

/* purchase user css start  */
.breadcumNav {
  width: 100%;
  height: 60px;
  background: rgba(210, 202, 248, 0.5);
  border-radius: 5px;
  overflow: hidden;
}
.breadcomTitleWrap {
  width: 347px;
  height: 60px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
.new {
  left: -18px;
  position: absolute;
  width: 182px;
  height: 60px;
  background-color: #6b51df;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  transform: skewX(-30deg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.forward {
  right: -18px;
  position: absolute;
  width: 190px;
  height: 60px;
  background-color: #d2caf8;
  border-radius: 5px;
  transform: skewX(-30deg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.new h1,
.forward h1 {
  transform: skewX(30deg);
  font-weight: 500;
  font-size: 24px;
  font-style: normal;
}
.new h1 {
  color: #ffffff;
}
.forward h1 {
  color: #6b51df;
}
.newEntrySection {
  position: relative;
  width: 100%;
  height: 60px;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 48px;
  margin-bottom: 30px;
}
.newEntryBtn {
  right: -18px;
  position: absolute;
  width: 190px;
  height: 60px;
  background-color: #6b51df;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  transform: skewX(-30deg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.newEntryBtn h1 {
  transform: skewX(30deg);
  font-weight: 500;
  font-size: 24px;
  font-style: normal;
  color: #ffffff;
  line-height: 28px;
}
th {
  background-color: #d2caf8;
  font-weight: bold;
  font-size: 24px;
  color: #2d2b2b;
}
td {
  text-align: center;
  font-weight: normal;
  font-size: 18px;
}
tr {
  height: 72px;
}
tr:nth-child(odd) {
  background: rgba(210, 202, 248, 0.5);
}
table {
  border-spacing: 0px;
}
td:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  height: 72px;
}
.fa-eye {
  color: #85d369;
  font-size: 24px !important;
  cursor: pointer;
}
.fa-edit {
  color: #6b51df;
  font-size: 24px !important;
  cursor: pointer;
}
.fa-trash-alt {
  color: #eb1616;
  font-size: 24px !important;
  cursor: pointer;
}
/* purchase user css end  */

/* --------------------------------------------------------------------- */

/* vehicle detail css start  */
.breadcumNav1 {
  width: 100%;
  height: 60px;
  background: rgba(210, 202, 248, 0.5);
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 80px;
}
.vehicleDetails {
  left: -18px;
  position: absolute;
  width: 295px;
  height: 60px;
  background-color: #6b51df;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  transform: skewX(-30deg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.vehicleDetails h1 {
  transform: skewX(30deg);
  font-weight: 500;
  font-size: 24px;
  font-style: normal;
  color: #ffffff;
}
.vehicleDetailDisplay {
  width: 100%;
  padding: 80px;
  background: #fff6f8;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 120px;
}
.vehicleBrand {
  padding: 8px 16px;
  background: #d2caf8;
  border-radius: 5px;
  width: fit-content;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.02em;
  min-width: 160px;
  height: 40px;
  margin-top: 8px;
}
label {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  /* margin-bottom: 8px; */
}
/* vehicle detail css end  */

/* --------------------------------------------------------------------- */
